/*Basic template for all pages*/

body {
    background-color: #559e83;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
	flex: 1 0 auto;
}

@media only screen and (min-width: 900px) {
    body.has-fixed-sidenav {
        padding-left: 300px;
    }

    nav.navbar .brand-logo {
        position: relative;
        float: left;
        font-size: 18px;
        padding-left: 20px;
    }
}

.navbar {
    background-color: #c3cb71;
}

.sidenav {
    background-color: #1b85b8;
}

.page-footer {
    background-color: #c3cb71;
}